<h2 class="title-primary">contato</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
            <div class="mb-3 py-4">
                <label for="exampleFormControlInput1" class="form-label">Seu Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com"
                    required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Que gostaria de nos dizer?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                <button type="submit" value="submit" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar menssagem</button>
        </div>
            </div>
    </div>
</div>