<h2 class="title-primary">
  <i class="fa-solid fa-cart-shopping"></i> Productos
</h2>
<div class="container w-100">
  <div class="dropdown nav-bar-product">
    <button
      class="btn btn-secondary dropdown-toggle w-100"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      QUE VOCÊ DESEJARIA HOJÊ?
    </button>
    <ul class="dropdown-menu w-100">
      <li>
        <a
          class="dropdown-item"
          href="#"
          >Cervejas</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          >Whisky</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          >Energeticos</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          >Agua</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          >Vinhos</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="container py-2">
  <div class="row py-4 h-100 w-100" style="display: flex; align-items:center;">
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-2">
  <div class="row py-4 h-100 w-100" style="display: flex; align-items:center;">
    <div class="col-lg-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-2">
  <div class="row py-4 h-100 w-100" style="display: flex; align-items:center;">
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card container-productos"
        style="width: 14rem; text-align: center">
        <img
          src="https://www.casadabebida.com.br/img/products/whisky-jack-daniels_1_250.webp"
          class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
